<div class="back-to-top"></div>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="500">
      <div class="container">
        <img src="assets/img/logo3.png" routerLink="/accueil"  alt="logo" />
       <h1 class="text-warning" routerLink="/accueil" > Institut des Régions Arides</h1>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="accueil/">OpenGeoData</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Applications Interactives</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cartes Interactives</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Statistiques du portail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Actualités</a>
            </li>
            
          </ul>
        </div>

      </div>
    </nav>
    <router-outlet></router-outlet>

    