
<div class="container ">
  <input  class="btn btn-primary" type="submit" value="Login" routerLink="/login"> 
  <input  class="btn btn-primary" type="submit" (click)="deconnecter()" value="Login" > 

    <div class="page-banner home-banner">
      <div class="row align-items-center flex-wrap-reverse h-100">
        <div class="col-md-6 py-5 wow fadeInLeft" >
          <h1 class="mb-4">GéoDonnées Ouvertes
            Recherchez, explorez, visualisez et téléchargez les données ouvertes </h1>
          <p class="text-lg text-grey mb-5"></p>
          <a href="#" class="btn btn-primary btn-split">Watch Video <div class="fab"><span class="mai-play"></span></div></a>
        </div>
        <div class="col-md-6 py-5 wow zoomIn">
          <div class="img-fluid text-center">
            <img src="../assets/img/planet.gif" alt=""  width="430" 
            height="460" >
          </div>
        </div>
      </div>
      <a href="#about" class="btn-scroll" data-role="smoothscroll"><span class="mai-arrow-down"></span></a>
    </div>
  </div>


<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card-service wow fadeInUp">
          <div class="header">
            <img src="../assets/img/services/service-1.svg" alt="">
          </div>
          <div class="body">
            <h3 class="text-secondary">Agriculture</h3>
            <p></p>
            <button href="service.html" class="btn btn-primary" [disabled]="verif">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-service wow fadeInUp">
          <div class="header">
            <img src="../assets/img/services/service-2.svg" alt="">
          </div>
          <div class="body">
            <h3 class="text-secondary">Statistique </h3>
            <p></p>
            <a href="service.html" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-service wow fadeInUp">
          <div class="header">
            <img src="../assets/img/services/service-3.svg" alt="">
          </div>
          <div class="body">
            <h3 class="text-secondary">Actualités</h3>
            <p></p>
            <a href="service.html" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .container -->
</div> <!-- .page-section -->

<div class="page-section" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 py-3 wow fadeInUp">
        <span class="subhead">About us</span>
        <h2 class="title-section">Institut des Régions Arides</h2>
        <div class="divider"></div>

        <p>Institut des Régions Arides vous présente Portail de Géo-Données Ouvertes "OpenGeoData" en Tunisie permettant d'explorer et de télécharger des données géographiques SIG, de découvrir et d'engager d'autres personnes à résoudre des problèmes importants de notre quotidien. Vous pouvez analyser et combiner des ensembles de données à l'aide de cartes </p>
        
        <a href="about.html" class="btn btn-primary mt-3">Read More</a>
      </div>
      <div class="col-lg-6 py-3 wow fadeInRight">
        <div class="img-fluid py-3 text-center">
          <img src="../assets/img/agriculture1.png" alt="" width="600" 
          height="300" >
        </div>
      </div>
    </div>
  </div> <!-- .container -->
</div> <!-- .page-section -->

<div class="page-section bg-light">
  <div class="container">
    <div class="text-center wow fadeInUp">
      <div class="subhead">Our services</div>
      <h2 class="title-section">How SEO Team Can Help</h2>
      <div class="divider mx-auto"></div>
    </div>

      <div class="row">
        <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
          <div class="features">
            <div class="header mb-3">
              <span class="mai-business"></span>
            </div>
            <h5>OnSite SEO</h5>
            <p>We analyse your website's structure, internal architecture & other key</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
          <div class="features">
            <div class="header mb-3">
              <span class="mai-business"></span>
            </div>
            <h5>OnSite SEO</h5>
            <p>We analyse your website's structure, internal architecture & other key</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
          <div class="features">
            <div class="header mb-3">
              <span class="mai-business"></span>
            </div>
            <h5>OnSite SEO</h5>
            <p>We analyse your website's structure, internal architecture & other key</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
          <div class="features">
            <div class="header mb-3">
              <span class="mai-business"></span>
            </div>
            <h5>OnSite SEO</h5>
            <p>We analyse your website's structure, internal architecture & other key</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
          <div class="features">
            <div class="header mb-3">
              <span class="mai-business"></span>
            </div>
            <h5>OnSite SEO</h5>
            <p>We analyse your website's structure, internal architecture & other key</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
          <div class="features">
            <div class="header mb-3">
              <span class="mai-business"></span>
            </div>
            <h5>OnSite SEO</h5>
            <p>We analyse your website's structure, internal architecture & other key</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
          <div class="features">
            <div class="header mb-3">
              <span class="mai-business"></span>
            </div>
            <h5>OnSite SEO</h5>
            <p>We analyse your website's structure, internal architecture & other key</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
          <div class="features">
            <div class="header mb-3">
              <span class="mai-business"></span>
            </div>
            <h5>OnSite SEO</h5>
            <p>We analyse your website's structure, internal architecture & other key</p>
          </div>
        </div>
      </div>

  </div> <!-- .container -->
</div> <!-- .page-section -->

<div class="page-section banner-seo-check">
  <div class="wrap bg-image" style="background-image: url(../assets/img/bg_pattern.svg);">
    <div class="container text-center">
      <div class="row justify-content-center wow fadeInUp">
        <div class="col-lg-8">
          <h2 class="mb-4">Search</h2>
          <form action="#">
            <input type="text" class="form-control" placeholder="text">
            <button type="submit" class="btn btn-success">chercher</button>
          </form>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .wrap -->
</div> <!-- .page-section -->



<!-- Banner info -->
<div class="page-section banner-info">
  <div class="wrap bg-image" style="background-image: url(../assets/img/bg_pattern.svg);">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3 pr-lg-5 wow fadeInUp">
          <h2 class="title-section">SEO to Improve Brand <br> Visibility</h2>
          <div class="divider"></div>
          <p></p>
          
          <ul class="theme-list theme-list-light text-white">
            <li>
              <div class="h5">SEO Content Strategy</div>
              <p></p>
            </li>
            <li>
              <div class="h5">B2B SEO</div>
              <p></p>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 py-3 wow fadeInRight">
          <div class="img-fluid text-center">
            <img src="../assets/img/banner_image_2.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .wrap -->
</div> <!-- .page-section -->

<!-- Blog -->


<footer class="page-footer bg-image" style="background-image: url(../assets/img/world_pattern.svg);">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-3 py-3">
        <h3>Institut des Régions Arides</h3>
        <p>	 Capitalisation de l’expérience tunisienne et valorisation des acquis dans le domaine du développement des territoires pastoraux</p>

        <div class="social-media-button">
          <a href="#"><span class="mai-logo-facebook-f"></span></a>
          <a href="#"><span class="mai-logo-twitter"></span></a>
          <a href="#"><span class="mai-logo-google-plus-g"></span></a>
          <a href="#"><span class="mai-logo-instagram"></span></a>
          <a href="#"><span class="mai-logo-youtube"></span></a>
        </div>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Company</h5>
        <ul class="footer-menu">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Advertise</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Help & Support</a></li>
        </ul>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Contact Us</h5>
        <p>Route du Djorf Km 22.5
          Médénine
          Tunisie </p>
        <a href="#" class="footer-link">téléphone +216 75 633 005</a>
        <a href="#" class="footer-link"> Fax: +216 75 633 006</a>
        <a href="#" class="footer-link">ira.med@ira.rnrt.tn</a>
      </div>
    
    </div>

    
  </div>
</footer>
